.dashboard-page {
  background: url("/img/account-page-bg.png") no-repeat center/cover;

  .custom-filter {

    .filter-select {
      &:after,
      &:before {
        border-bottom-color: #008b00 !important;
      }
    }

    .select-label {
      color: #494949;
      padding-left: 16px;
    }

    .filter-label {
      color: #fff;
      display: block;
      font-size: 12px;
      margin-bottom: 4px;
    }

    .select-container {
      width: 100%;
      background-color: #fff;
    }

  }
}