.dashboard-page {
  height: 100%;
  display: flex;
  background: url("/img/account-page-bg.png") no-repeat center/cover;

  .shared-form {
    margin: auto;
  }

  .submit-button-wrap {
    position: relative;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: all .4s cubic-bezier(.215,.61,.355,1) .1s;

    .text {
      transition: opacity .6s cubic-bezier(.215,.61,.355,1) .2s;
    }

    .check-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -15px;
      transition: opacity .4s cubic-bezier(.215,.61,.355,1) .1s;
      opacity: 0;

      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }

      path {
        stroke-dashoffset: 45;
        stroke-dasharray: 45;
      }
    }

    &.save {
      width: 48px;
      height: 48px;
      border-color: #50a650;
      transition-delay: 0s;

      .text {
        opacity: 0;
        transition: opacity .2s cubic-bezier(.215,.61,.355,1) .1s;
      }

      .check-icon {
        opacity: 1;

        path {
          animation: dash .8s cubic-bezier(.215,.61,.355,1) forwards;
          -webkit-animation-delay: .4s;
          animation-delay: .4s;
        }
      }
    }
  }

  .custom-filter {

    .select-label {
      color: #494949;
      padding-left: 16px;
    }

    .filter-label {
      color: #fff;
      display: block;
      margin-bottom: 4px;
    }

    .select-container {
      width: 100%;
      background-color: #fff;
    }

  }
}
