.archive-page {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background-color: #393939;
}

.archive-wrap {
  width: 100%;
  max-width: 1230px;
  margin: 60px auto 0;
  background-color: #484848;

  .archive-head {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    background-color: #414141;

    .label {
      font-size: 14px;
      font-weight: 300;
      margin-right: 15px;
      color: rgba(250, 250, 250, 0.6);
    }
  }

  .search {
    width: 100%;
    display: flex;
    max-width: 470px;
    margin-right: 40px;
    align-items: center;

    .label {
      flex-shrink: 0;
    }

    input {
      width: 100%;
      border: none;
      padding: 5px;
      color: #787878;
      font-size: 14px;
      background-color: transparent;
      border-bottom: 1px solid #b8b8b8;
    }
  }

  .date-wrap {
    display: flex;
    flex-shrink: 0;
    margin-right: 28px;
    align-items: center;

    .arrow {
      margin: 0 10px;
      color: #787878;
    }
  }

  .date-input-wrap {
    width: 75px;

    input {
      width: 100%;
      border: none;
      padding: 5px;
      color: #fafafa;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      background-color: transparent;
      border-bottom: 1px solid #b8b8b8;
      font-family: 'Roboto', sans-serif;
    }
  }

  .reset-date {
    @include button(140px, 30px, 22px, 11px, #404040);
    background-color: rgba(248, 243, 240, 0.6);
    font-weight: bold;
    flex-shrink: 0;

    &:hover {
      background-color: #fafafa;
    }
  }

  .archive-body {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }

  .tab-left-column {
    width: 330px;
    flex-shrink: 0;
    background-color: #f6f6f6;
  }

  .list {
    color: #6f6f6f;

    .list-date-wrap {
      display: flex;
      padding: 20px 0;
      font-size: 14px;
      align-items: center;
      color: rgba(46, 48, 49, 0.4);

      &:after,
      &:before {
        content: '';
        height: 1px;
        width: 100%;
        background-color: #e8e8e8;
      }
    }

    .list-date {
      margin: 0 4px;
    }
  }

  .list-item {
    cursor: pointer;
    position: relative;
    padding: 13px 20px;
    border-right: 2px solid transparent;
    @include transition(background-color);

    &:after {
      content: '';
      right: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      position: absolute;
      background-color: #78ae59;
      @include transition(width);
    }

    &:hover {
      background-color: #e8e8e8;
    }

    &.active {
      color: #fff;
      background-color: #434343;
      border-right-color: #487032;

      &:after {
        width: 8px;
      }

      .title {
        display: none;
      }

      .order-address {
        display: block;
      }
    }

    .number {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .title,
    .order-address {
      font-size: 12px;
    }

    .order-address {
      display: none;
    }
  }

  .tab-right-column {
    width: 100%;
    padding: 0 40px;
  }

  .tab-right-column-head {
    display: flex;
    align-items: center;
    padding: 35px 0 40px;
    justify-content: space-between;
  }

  .order-number-wrap {
    display: flex;
    align-items: center;

    .border {
      width: 1px;
      height: 60px;
      margin: 0 25px;
      background-color: rgba(245, 245, 247, 0.21);
    }
  }

  .order-number-and-who-order {
    .title-order-number {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    .order-address {
      font-size: 12px;
      color: rgba(250, 250, 250, 0.5);
    }
  }

  .all-price-wrap {
    color: #ababab;
    position: relative;
  }

  .all-price-title {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .all-price-number {
    font-size: 16px;
    font-weight: bold;
  }

  .repeat-order {
    @include button(200px,40px,22px,11px,rgba(250, 250, 250, 0.3));
    @include transition(background-color);
    font-weight: bold;
    margin-left: auto;
    border: 1px solid rgba(250, 250, 250, 0.3);

    &:hover {
      color: #404040;
      background-color: #fafafa;
    }
  }

  .goods-count {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
    text-transform: lowercase;
    color: rgba(250, 250, 250, 0.5);
  }

  .items-wrap {
    padding: 40px;
    color: #2d2b2b;
    margin-bottom: 35px;
    background-color: #fafafa;
    box-shadow: 0 0 38px 0 rgba(30, 30, 30, 0.54);

    .scroll-container {
      overflow-y: auto;
      max-height: 590px;
      padding-right: 40px;
    }

    @for $i from 1 to 14 {
      .item:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
    }

    .item {
      display: flex;
      min-height: 36px;
      align-items: center;
      animation-duration: 1s;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .item-img-container {
      margin-right: 40px;
    }

    .item-img {
      width: 19px;
    }

    .item-title {
      color: #2d2b2b;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .item-count,
    .item-price,
    .item-all-price {
      font-size: 16px;
      margin-left: auto;
    }

    .item-count {
      color: #6e6e6e;
    }

    .item-price,
    .item-all-price {
      color: #443f3d;
    }
  }

  //mobile-style ===============>

  .left-block {
    margin-right: 40px;
  }

  .right-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .item-title {
      width: 100%;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .item-count,
    .item-price,
    .item-all-price {
      margin-left: 0;
      font-size: 14px;
      color: rgba(57, 57, 57, 0.8);
    }

    .item-price {
      margin: 0 3%;
      padding: 0 10px;
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
    }
  }

  //mobile-style ===============>
}
