.wrapper {
  .navigation-menu {
    top: 0;
    left: 0;
    width: 320px;
    position: fixed;
    box-shadow: none;
    white-space: nowrap;
    background-color: #484848;
    border-right: solid 1px #434343;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    &.active {
      width: 60px;
      overflow-x: hidden;
      transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

      .menu-toolbar {
        margin-bottom: 0;
      }

      .menu-item {
        border-bottom: 1px solid #434343;
      }

      .count-item {
        top: 10px;
        width: 19px;
        right: 5px;
        height: 19px;
        font-size: 10px;
      }

      .order-items,
      .menu-item-wrap {
        margin: 0;
        padding: 0;
        border: none;
      }
    }

    .menu-toolbar {
      height: 60px;
      display: flex;
      flex-shrink: 0;
      padding: 0 8px;
      position: relative;
      align-items: center;
      margin-bottom: 35px;
      justify-content: center;
      background: #2a2e2e url("/img/auth-page-bg.png") no-repeat center/cover;

      .icon-logo {
        fill: #fff;
        width: 100px;
      }

      .hidden-menu-btn {
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
      }

      .arrow-back-icon {
        fill: #fff;
        width: 32px;
        height: 32px;
      }
    }

    .menu-title {
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      font-style: italic;
      color: rgba(250, 250, 250, 0.3);
      font-family: 'Roboto', sans-serif;

      &.hidden {
        display: none;
      }
    }

    .menu-item-wrap {
      text-align: center;
    }

    .menu-item {
      padding: 0;
    }

    .menu-link {
      width: 100%;
      display: flex;
      padding: 15px;
      position: relative;
      align-items: center;
      text-decoration: none;

      .menu-icon {
        width: 30px;
        height: 30px;
        margin-right: 0;
        fill: rgba(248, 243, 240, 0.6);
      }

      .menu-text {
        padding: 0;
        margin-left: 20px;

        span {
          font-size: 12px;
          text-transform: uppercase;
          color: rgba(248, 243, 240, 0.6);
          font-family: 'Roboto', sans-serif;
        }

      }

      &.active {
        background-color: #434343;

        .menu-icon {
          fill: white;
        }

        .menu-text {

          span {
            color: white;
          }

        }

      }

      &:hover {
        background-color: #434343;

        .menu-icon {
          fill: white;
        }

        .menu-text {
          span {
            color: white;
          }
        }

      }

    }

    .count-item {
      color: #fff;
      width: 40px;
      right: 25px;
      height: 28px;
      display: flex;
      font-size: 12px;
      position: absolute;
      border-radius: 14px;
      align-items: center;
      justify-content: center;
      background-color: #78ae59;
    }

    .order-items {
      margin: 20px 0;
      padding: 35px 0;
      border-top: 1px solid #434343;
      border-bottom: 1px solid #434343;
    }

    .to-order {
      margin-top: 30px;
      min-height: 30px;
      font-weight: bold;
      line-height: normal;
      display: inline-block;
      @include success-style-btn();
      font-family: 'Roboto', sans-serif;
      @include button(200px, 30px, 36px, 11px);

      &.hidden {
        display: none;
      }
    }

    .manager-block {
      text-align: center;
      margin-bottom: 25px;

      .name-manager {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.8);
      }
      .email-and-phone {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
      }

      .email-link,
      .phone-link {
        font-size: 12px;
        color: rgba(248, 243, 240, 0.4);
      }

      .separator {
        width: 1px;
        height: 23px;
        margin: 0 10px;
        background-color: rgba(255, 255, 255, 0.4);
      }

      .send-to-manager {
        min-height: auto;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        @include transition(background-color);
        background-color: rgba(248, 243, 240, 0.6);
        @include button(200px, 30px, 36px, 11px, #404040);

        &:hover {
          background-color: #fff;
        }
      }
    }

  }
}
