.checkout-order-page {
  min-height: 100vh;
  padding: 50px 55px;
  background-color: #393939;

  .width-container {
    margin: 0 auto;
    max-width: 940px;
  }

  .user-information {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: stretch;
  }

  .required-field {
    color: #d24a43;
  }

  .name-wrap,
  .phone-wrap,
  .email-wrap,
  .location-wrap {
    flex-grow: 1;
    display: flex;
    font-size: 12px;
    min-height: 60px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    background-color: #3d3d3d;
    color: rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(250, 250, 250, 0.3);

    &:last-child {
      border-right: none;
    }
  }

  .name-wrap {
    flex-direction: column;
    background-color: #434343;
  }

  .phone-icon,
  .email-icon,
  .location-icon {
    width: 16px;
    margin-right: 10px;
    fill: rgba(250, 250, 250, 0.4);
  }

  .user-name {
    font-size: 16px;
    font-weight: bold;
  }

  .user-shop-name {
    margin-top: 5px;
  }

  .checkout-fields {
    display: flex;
    justify-content: space-between;
  }

  .left-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .right-block {
    width: 100%;
    max-width: 380px;
    padding-top: 20px;
  }

  .input-container,
  .custom-filter {
    width: 100%;
    max-width: 49%;
    margin-bottom: 20px;
  }

  .input-container,
  .text-area-container {
    .form-label {
      font-weight: 300;
      letter-spacing: 0.6px;
      color: rgba(250, 250, 250, 0.5);
    }

    .input-style {
      height: 36px;
    }

    .input-style,
    .text-area-style {
      color: rgba(250, 250, 250, 0.5);
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .text-area-container {
    .form-label {
      display: block;
      font-size: 12px;
      margin-bottom: 4px;
    }
  }

  .text-area-style {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    height: 114px;
    padding: 15px;
    box-sizing: border-box;
  }

  .form-input {
    &:before,
    &:after {
      content: none;
    }
  }

  .checkbox-label {
    margin: 0 0 35px;

    .label {
      font-size: 12px;
      margin-left: 15px;
      letter-spacing: 0.6px;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .create-order-name {
    max-width: 470px;
    position: relative;
    margin: 50px auto 0;

    .order-name-wrap {
      width: 100%;
    }

    .input {
      width: 100%;

      &:before,
      &:after {
        border-color: rgba(255, 255, 255, 0.5);
      }

      &:hover {
        &:before,
        &:after {
          border-color: rgba(255, 255, 255, 0.5) !important;
        }
      }
    }

    label {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5);
    }

    .order-name-input {
      color: rgba(250, 250, 250, 0.5);
    }

    .icon-pen {
      right: 0;
      bottom: 7px;
      width: 10px;
      position: absolute;
      fill: rgba(255, 255, 255, 0.5);
    }
  }

  .filter-select {
    &:before,
    &:after {
      content: none;
    }
  }

  .custom-filter {
    font-size: 12px;
    color: rgba(63, 63, 63, 0.3);

    .select-container {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .select-label {
      height: 36px;
      padding-left: 15px;
      color: rgba(250, 250, 250, 0.5);
    }

    .filter-label {
      color: #868686;
      display: block;
      margin-bottom: 5px;
    }

    .filter-select {
      svg {
        fill : rgba(250, 250, 250, 0.5);
      }
    }

  }

}
