.basket-wrap {
  display: flex;
  color: #2d2b2b;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background-color: #393939;

  &.is-empty {
    align-items: center;
  }

  .basket-title {
    color: #fafafa;
    font-size: 11px;
    padding-bottom: 25px;
  }

  .basket-is-empty {
    color: #fafafa;
    font-size: 26px;
  }

  .title-and-count {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
  }

  .width-container {
    width: 100%;
    margin: 60px auto 0;
    max-width: 940px;
    padding: 25px 10px;
  }

  .max-height {
    overflow-y: auto;
    max-height: 570px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 3px;
      background-color: transparent;
      border: solid 1px rgba(255, 255, 255, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #fafafa;
    }
  }

  .basket-table {
    width: 100%;
    max-width: 905px;
  }

  .table-tr {
    height: 90px;
    vertical-align: middle;
    background-color: #fafafa;
    border-bottom: 10px solid #393939;

    td {
      vertical-align: middle;
    }
  }

  .buttons-and-img {
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    width: 45px;
  }

  .count-item-wrap {
    width: 140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .count-item {
      width: 50px;
      height: 29px;
      color: #6e6e6e;
      font-size: 12px;
      border-radius: 4px;
      text-align: center;
      border: 1px solid #dcdcdc;
      background-color: #e8e8e8;
    }

    .icon {
      fill: rgba(68, 63, 61, 0.3);
    }
  }

  .increment-item,
  .decrement-item {
    &:hover {
      .icon {
        fill: #443f3d;
      }
    }
  }

  .border-right {
    border-right: 1px solid #dcdcdc;
  }

  .price-with-one,
  .all-price {
    width: 120px;
    font-size: 16px;
    text-align: center;

    .icon {
      width: 14px;
      height: 13px;

      fill: #443f3d;
    }
  }

  .title-and-properties {
    padding: 0 20px;
  }

  .image-wrap {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dcdcdc;
  }

  .img-item {
    width: 24px;
  }

  .remove-item {
    border-bottom: 1px solid #dcdcdc;
  }

  .remove-item,
  .copy-item {
    width: 45px;
    height: 45px;
    background-color: #e8e8e8;

    .icon {
      fill : #dcdcdc
    }
  }

  .remove-item:hover {
    background-color: #c93f3f;
    .icon {
      fill: #fff;
    }
  }

  .copy-item:hover {
    background-color: #75a95d;
    .icon {
      fill: #fff;
    }
  }

  .buttons-and-all-price-wrap {
    width: 100%;
    display: flex;
    color: #fafafa;
    max-width: 905px;
    padding-top: 50px;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &:before {
      left: 0;
      right: 0;
      top: -31px;
      content: '';
      width: 100%;
      height: 31px;
      position: absolute;
      background-color: rgba(60, 60, 60, 0.40);
    }
  }

  .clear-basket {
    @include button(180px,40px,44px,12px,rgba(250, 250, 250, 0.3));
    border: 1px solid rgba(250, 250, 250, 0.3);
    margin-right: 20px;

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  .to-order {
    @include button(240px,40px,44px,12px);
    @include success-style-btn();
  }

  .price-wrap {
    color: #fafafa;
    width: 100%;
    max-width: 300px;
  }

  .all-price-wrap,
  .discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .discount {
    margin-bottom: 20px;
  }

  .discount-text {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .percent {
    color: #fff;
    font-size: 10px;
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 11px;
    vertical-align: middle;
    background-color: #c93f3f;
  }

  .discount-in-euro {
    font-size: 18px;
    text-align: right;
  }

  .all-price-text {
    font-size: 16px;
    font-weight: bold;
  }

  .all-price-number {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }

}

.basket-mobile-wrap {

  .item-wrap-mobile {
    margin-bottom: 11px;
  }

  .row {
    display: flex;
    align-items: center;
    background-color: #fafafa;
  }

  .title-item {
    margin-left: 20px;
  }

  .image-wrap {
    width: 60px;
    height: 60px;
  }

  .img-item {
    width: 14px;
  }

  .properties {
    padding: 14px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    .item-props {
      margin-right: 10px;
    }
  }

  .count-price-button-wrap {
    justify-content: space-between;
  }

  .count-item-wrap {
    margin: 0;
    width: auto;
  }

  .all-price {
    width: auto;
    font-size: 12px;
  }

  .remove-item {
    border-bottom: none;
    border-right: 1px solid #dcdcdc;
  }

  .buttons {
    width: 90px;
    display: flex;
    align-items: center;
  }

  .buttons-and-all-price-wrap {
    padding-top: 0;
    box-shadow: none;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .price-wrap {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .all-price-text {
    font-size: 14px;
  }

  .all-price-number,
  .discount-in-euro {
    font-size: 16px;
  }

  .discount-text {
    font-size: 12px;
  }

  .buttons-wrap {
    max-width: 240px;
  }

  .clear-basket {
   margin-bottom: 10px;
  }

  .clear-basket,
  .to-order {
    width: 100%;
  }
}