@mixin button(
  $width:100%,$height:44px,$font-size:14px,
  $color:white,$text-transform: uppercase,$radius:22px)
{
  width: $width;
  color: $color;
  height: $height;
  font-size: $font-size;
  border-radius: $radius;
  text-transform: $text-transform;
}

@mixin success-style-btn {
  background-image: linear-gradient(to right, #92cc76, #89c16e, #80b766, #78ac5e, #6fa256);
}

@mixin standard-style-btn {
  background: #4c4743 url("../img/auth-form-bg.png") no-repeat center/cover;
}

@mixin transition($type:all, $duration:.3s,$animation-type:ease-in,$delay:0) {
  transition: $type $duration $animation-type $delay;
}

@mixin disabled-button {
  &:disabled {
    background-image: linear-gradient(225deg, #e0d4ef, #f3f2f2);
    color: #676767;
    cursor: default;
  }
}

@mixin disabled-input {
  &:disabled {
    &[type="text"],
    &[type="password"],
    &[type="email"] {
      cursor: default;
      background-color: #dfd7e8;
    }
  }
}

@mixin error-input {
  &.validation-error {
    &[type="text"],
    &[type="password"],
    &[type="email"] {
      box-shadow: 0 0 6px 1px red;
    }
  }
}
