.catalog-page {
  overflow: hidden;
  padding: 40px 35px;
  background-color: #f4f4f4;

  .tab-categories {
    text-align: center;
    margin-bottom: 25px;

    .tab-item {
      height: 58px;
      margin: 0 5px;
      color: #4c4743;
      padding: 0 20px;
      font-size: 12px;
      min-width: 150px;
      font-weight: bold;
      border-radius: 3px;
      text-transform: uppercase;
      border: 1px solid rgba(104, 89, 76, 0.2);

      &.coffee {
        &.active,
        &:hover {
          background-color: #4c4743;
        }
      }

      &.cheeseAndMeat {
        &.active,
        &:hover {
          background-color: #bf6d25;
        }
      }

      &.grocery {
        &.active,
        &:hover {
          background-color: #2bb26d;
        }
      }

      &.chocolate {
        &.active,
        &:hover {
          background-color: #68594c;
        }
      }

      &.active,
      &:hover {
        color: #fff;

        .tab-icon {
          fill: #fff;
        }
      }
    }

    .tab-item-wrap {
      display: inline-block;
    }

    .tab-icon {
      width: 32px;
      margin-right: 15px;
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      fill: rgba(86, 86, 86, 0.8);
    }

    .steak-icon,
    .cheese-icon {
      width: 20px;
      position: relative;
    }

    .steak-icon {
      top: 4px;
      right: -8px;
    }

    .cheese-icon {
      left: -8px;
      bottom: 4px;
    }

    .chocolate-icon {
      transform: rotate(90deg);
    }

    .text {
      flex-shrink: 0;
      vertical-align: middle;
    }
  }

  .filter-label,
  .select-label,
  .filter-label-of-goods {
    font-size: 12px;
    letter-spacing: 0.6px;
    color: rgba(76, 71, 67, 0.6);
  }

  .custom-filter-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .custom-label {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .multi-input-label {
    width: 100%;
    display: block;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    transform: translateY(20px);
    color: rgba(76, 71, 67, 0.6);
  }

  .filter-product {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
  }

  .select-label {
    max-width: 90px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  .filter-label {
    margin-right: 24px;
    color: rgba(76, 71, 67, 0.6);
  }

  .filter-select {
    cursor: pointer;
    margin-top: 8px;
    min-width: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }

  .show-filters {
    width: 100%;
    color: #fff;
    height: 40px;
    max-width: 280px;
    border-radius: 3px;
    background-color: #373737;
  }

  .select-container {
    margin-right: 30px;
  }

  .goods-wrap {
    padding: 20px 30px;
    background-color: #fafafa;
    box-shadow: 0 0 26px 2px rgba(135, 135, 135, 0.19);
  }
}

.filters-mobile-modal {
  margin-top: 60px;

  .back-btn {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: transparent;
  }

  .multi-input-label {
    width: 100%;
    display: block;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    transform: translateY(20px);
    color: rgba(76, 71, 67, 0.6);
  }

  .select-label {
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(76, 71, 67, 0.6);
  }

  .back-icon {
    fill: black;
    width: 19px;
  }
}

.custom-filter {

  .filter-label,
  .select-label,
  .filter-label-of-goods {
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  .custom-label {
    height: 40px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }

  .select-label {
    height: 40px;
    display: flex;
    cursor: pointer;
    text-align: left;
    margin-right: 24px;
    align-items: center;
  }

}

.filter-ul {
  ul {
    min-width: 240px;
    background-color: #f7f7f7;
  }

  *::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #e8e8e8;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #484848;
  }

  .filter-item {
    color: #494949;
    margin: 0 14px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #e8e8e8;
    font-family: 'Open Sans', sans-serif;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.disabled-label {
      color: #494949;
      cursor: not-allowed;
      background-color: #e8e8e8;
    }
  }

  .count-select-item-wrap {
    height: 50px;
    display: flex;
    padding: 0 16px;
    margin-top: -8px;
    align-items: center;
    margin-bottom: 16px;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    justify-content: space-between;
  }

  .count-select-item {
    color: #3f3f3f;
    font-size: 12px;
    text-transform: capitalize;
  }

  .clear-select-item {
    width: 84px;
    height: 30px;
    border: none;
    outline: none;
    color: #9a9795;
    cursor: pointer;
    pointer-events: auto;
    background-color: #e8e8e8;
    @include transition(background-color);
    &:hover {
      color: #fff;
      background-color: #9a9795;
    }
  }
}
