.shared-and-offers-page {
  height: 100%;
  background-color: #f4f4f4;

  .width-container {
    margin: auto;
    max-width: 1370px;
    padding: 40px 20px 20px;
  }

  .header-tab {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    justify-content: center;
    border-bottom: 1px solid #e8e8e8;
  }

  .header-tab-item {
    width: 120px;

    &.active {
      .header-tab-btn{
        color: #2e3031;
        &:after {
          background-color: #6b9b50;
        }
      }
    }
  }
  
  .header-tab-btn {
    color: #a1a1a1;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    &:after {
      content: '';
      width: 100%;
      height: 3px;
      display: block;
      margin-top: 14px;
      background-color: transparent;
    }
  }

  .tab-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    margin: 0 10px;
    max-width: 31%;
    color: #484848;
  }

  .item-wrap {
    background-color: #fafafa;
    box-shadow: 0 0 26px 2px rgba(135, 135, 135, 0.19);
  }

  .start-date {
    color: #cfcfcf;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    letter-spacing: 0.4px;
  }

  .item-image-wrap {
    height: 200px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .finish-date {
    top: 13px;
    right: -5px;
    color: #fafafa;
    font-size: 14px;
    padding: 8px 14px;
    position: absolute;
    font-style: italic;
    letter-spacing: 0.4px;
    background-color: #c93f3f;
  }

  .item-content {
    padding: 26px 28px 30px 40px;
  }

  .item-title {
    font-weight: bold;
  }

  .item-title,
  .item-description {
    font-size: 14px;
    letter-spacing: 0.4px;
  }

  .item-description {
    padding: 20px 0;
    line-height: 1.5;
  }

  .item-link {
    color: #2e3031;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      .arrow-icon {
        transform: translateX(20px);
        opacity: 0;
      }
    }
  }

  .arrow-icon {
    width: 12px;
    margin-left: 10px;
    vertical-align: middle;
    fill: rgba(42, 46, 46, 0.21);
    transition:transform .3s, opacity .5s ease-in;
  }

}

.shared-and-offers-single-item {
  background-color: #fafafa;

  .back-btn {
    width: 50px;
    height: 50px;
    fill:  #484848;

    .arrow-back-icon {
      transition:transform .3s ease-in;
    }

    &:hover {
      .arrow-back-icon {
        transform: translateX(-10px);
      }
    }
  }

  .img-container {
    margin-bottom: 25px;
  }

  .start-date {
    color: #cfcfcf;
    font-size: 12px;
    margin-bottom: 16px;
  }

  .finish-date {
    color: #fafafa;
    font-size: 14px;
    padding: 10px 30px;
    font-style: italic;
    display: inline-block;
    letter-spacing: 0.4px;
    background-color: #c93f3f;
  }

  .single-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .single-item-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 19px;
  }

  .single-item-items {
    margin-top: 30px;
  }

  .single-item-wrap {
    margin: auto;
    color: #484848;
    padding: 0 40px;
    max-width: 980px;
    letter-spacing: 0.3px;
  }
}
